<div class="col-md-12 setting-title">
  <h3><i class="fa fa-edit"></i> Update Profile </h3>
</div>
<div class="clearfix"></div>
<div id="errorSection" style="display: none;">
  
                          </div>
<form method="POST" action="http://www.newsoftral.shaikmedical.com/client/update-profile" accept-charset="UTF-8" id="userInfoForm" class="" novalidate="novalidate"><input name="_token" value="T49lJCkMmHVen7Rllf0GCBMf5DntMmFwcS7nWZzw" type="hidden">
<div class="col-md-12">
  <div class="form-group">
      <div class="row">
          <div class="col-sm-4 col-md-4 ">
              <label for="Title" class="control-label">Title : </label>
              <select class="form-control" id="title" name="title"><option value="Mr." selected="selected">Mr.</option><option value="Ms.">Ms.</option><option value="Miss.">Miss.</option><option value="Mrs.">Mrs.</option></select>
          </div>
          <div class="col-sm-4 col-md-4 ">
              <label for="FirstName" class="control-label">First Name : <span class="required" aria-required="true">*</span></label>
              <input class="form-control" id="first_name" placeholder="Enter First Name" name="first_name" value="ILYAS" type="text">
          </div>
          <div class="col-sm-4 col-md-4">
              <label for="LastName" class="control-label">Last Name : <span class="required" aria-required="true">*</span></label>
              <input class="form-control" id="last_name" placeholder="Enter Last Name" name="last_name" value="SHAIKH" type="text">
          </div>
      </div>
      
      <div class="row">
          <div class="col-sm-4 col-md-4">
              <label for="UserName" class="control-label">User Name : <span class="required" aria-required="true">*</span></label>
              <input class="form-control" id="username" disabled="disabled" placeholder="Enter User Name" name="username" value="Shaikh" type="text">
          </div>
          <div class="col-sm-4 col-md-4">
              <label for="Email" class="control-label">Email : <span class="required" aria-required="true">*</span></label>
              <input class="form-control" id="email" disabled="disabled" placeholder="Enter Email" name="email" value="gulfneurology@yahoo.com" type="text">
          </div>
          <div class="col-sm-4 col-md-4">
              <label for="Phone" class="control-label">Phone : <span class="required" aria-required="true">*</span></label>
              <input class="form-control" id="phone" placeholder="Enter Phone No." name="phone" value="2516330801" type="text">
          </div>
      </div>
      
      <div class="row">
          <div class="col-sm-8 col-md-12">
              <label for="Adress" class="control-label">Adress : <span class="required" aria-required="true">*</span></label>
              <textarea class="form-control" id="Address" placeholder="Enter Address" rows="3.5" name="address" cols="50">4325 Downtowner Loop N</textarea>
          </div>
      </div>
      
      <div class="row">
          <div class="col-sm-4 col-md-4">
              <label for="City Town" class="control-label">City/Town : <span class="required" aria-required="true">*</span></label>
              <input class="form-control" id="city_town" placeholder="Enter City" name="city_town" value="Mobile" type="text">
          </div>
          <div class="col-sm-4 col-md-4">
              <label for="State" class="control-label">State : <span class="required" aria-required="true">*</span></label>
              <input class="form-control" id="state" placeholder="Enter State" name="state" value="Alabama" type="text">
          </div>
          <div class="col-sm-4 col-md-4">
              <label for="PostCode" class="control-label">PostCode : <span class="required" aria-required="true">*</span></label>
              <input class="form-control" id="postcode" placeholder="Enter Postcode" name="postcode" value="36609" type="text">
          </div>
      </div>
  </div>
</div>   
<div class="form-actions text-center">
  <button type="submit" class="btn default btn-green">Save</button>
  <a href="http://www.newsoftral.shaikmedical.com/client/update-profile" class="btn default btn-green">Cancel</a>
</div>
</form>