<footer class="site-footer">
  <div class="footer-top">
      <div class="container">
          <div class="row">
              <div class="col-md-4 col-sm-4 col-xs-6 footer-row">
                  <ul class="footer-menu">
                      <li><a routerLink="/">Startups</a></li>
                      <li><a routerLink="/">Growth Partners</a></li>
                      <li><a routerLink="/">Upgrade Skill &amp; Earn More</a></li>
                      <li><a routerLink="/">Internship</a></li>
                      <li><a routerLink="/">Affiliate</a></li>
                  </ul>
              </div>
              <div class="col-md-4 col-sm-2 col-xs-6 footer-row">
                  <h2 class="footer-heading">Company</h2>
                  <ul class="footer-menu">
                      <li><a routerLink="/">Contact Us</a></li>
                      <li><a routerLink="/pages/about">About Us</a></li>
                      <li><a routerLink="/">Press</a></li>
                      <li><a routerLink="/">Blog</a></li>
                  </ul>
              </div>
              <div class="col-md-4 col-sm-3 col-xs-6 footer-row">
                  <h2 class="footer-heading">Information</h2>
                  <ul class="footer-menu">
                      <li><a routerLink="/">Fee and Charges</a></li>
                      <li><a routerLink="/">Cancellations &amp; Refunds</a></li>
                      <li><a routerLink="/">Terms &amp; Conditions</a></li>
                      <li><a routerLink="/">Privacy Policy</a></li>
                  </ul>
              </div>
<!--                        <div class="col-md-3 col-sm-3 col-xs-6 footer-row">
                  <div class="footer-right">
                      <h2 class="footer-heading">Freelancers</h2>
                      <ul class="footer-menu">
                          <li><a routerLink="/">Freelencers in India</a></li>
                          <li><a routerLink="/">Freelencers in USA</a></li>
                          <li><a routerLink="/">Freelencers in UK</a></li>
                          <li><a routerLink="/">Freelencers in Philippines</a></li>
                          <li><a routerLink="/">Freelencers in Pakistan</a></li>
                          <li><a routerLink="/">Freelencers in Bangladesh</a></li>
                      </ul>
                  </div>
              </div>-->
          </div>
      </div>
  </div>
  <div class="footer-social">
      <div class="container">
          <ul class="social-footer">
              <li><a routerLink="/"><i class="fa-facebook fa"></i></a></li>
              <li><a routerLink="/"><i class="fa-twitter fa"></i></a></li>
              <li><a routerLink="/"><i class="fa-google-plus fa"></i></a></li>
              <li><a routerLink="/"><i class="fa-linkedin fa"></i></a></li>
          </ul>
      </div>
  </div>
  <div class="clearfix"></div>
  <div class="footer-bottom text-center">
      <div class="container">
          <p class="copy-right">© by 2016 Fixnhour. All right &amp; reserved</p>
      </div>
  </div>
</footer>